version: '3'

services:
  db:
    image: mariadb:10.5.8
    container_name: db
    restart: unless-stopped
    logging:
      driver:
        ${LOCAL_DB_LOG_DRIVER:-local}
    environment:
      - MYSQL_DATABASE=wordpress
      - MYSQL_ROOT_PASSWORD=${WORDPRESS_DB_PASSWORD}
      - MYSQL_USER=${WORDPRESS_DB_USER}
      - MYSQL_PASSWORD=${WORDPRESS_DB_PASSWORD}
    volumes:
      - dbdata:/var/lib/mysql
    command: '--default-authentication-plugin=mysql_native_password'
    networks:
      - app-network
    ports:
      - 3307:3306
    cap_add:
      - SYS_NICE  # CAP_SYS_NICE

  apache:
    container_name: apache
    image: httpd:2.4-alpine
    logging:
      driver: none
    ports:
      - 80:80
    volumes:
      - wordpress:/usr/src/wordpress
      - ./wordpress/vendor:/usr/src/wordpress/vendor
      - ./wordpress/wp-content:/usr/src/wordpress/wp-content
      - ./wordpress/wp-config.php:/usr/src/wordpress/wp-config.php
      - ./wordpress/.htaccess-multisite:/usr/src/wordpress/.htaccess
      - ./wordpress/docker/apache/httpd.conf:/usr/local/apache2/conf/httpd.conf
      - ./wordpress/docker/apache/conf.d/php-fpm.conf:/usr/local/apache2/conf.d/php-fpm.conf
      - ./wordpress/docker/apache/conf.d/default-site.conf:/usr/local/apache2/conf.d/default-site.conf
      - ./assets/en.png:/usr/src/wordpress/wp-content/plugins/sitepress-multilingual-cms/res/flags/en.png
      - ./assets/fr.png:/usr/src/wordpress/wp-content/plugins/sitepress-multilingual-cms/res/flags/fr.png
    networks:
      - app-network

  wordpress:
    depends_on:
      - db
    build:
      dockerfile: local.Dockerfile
      context: ./wordpress/docker
    container_name: wordpress
    restart: always
    env_file: .env
    volumes:
      - wordpress:/usr/src/wordpress
      - ./wordpress/vendor:/usr/src/wordpress/vendor
      - ./wordpress/wp-content:/usr/src/wordpress/wp-content
      - ./wordpress/wp-config.php:/usr/src/wordpress/wp-config.php
      - ./wordpress/.htaccess-multisite:/usr/src/wordpress/.htaccess
      - ./wordpress/docker/php/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
      - ./wordpress/docker/php/conf.d/error_reporting.ini:/usr/local/etc/php/conf.d/error_reporting.ini
      - ./wordpress/docker/php/conf.d/upload_max_filesize.ini:/usr/local/etc/php/conf.d/upload_max_filesize.ini
      - ./wordpress/docker/php/conf.d/memory_limit.ini:/usr/local/etc/php/conf.d/memory_limit.ini
      - ./wordpress/docker/php/conf.d/uploads.ini:/usr/local/etc/php/conf.d/uploads.ini
      - ./wordpress/docker/php/conf.d/max_execution_time.ini:/usr/local/etc/php/conf.d/max_execution_time.ini
      - ./wordpress/docker/php/conf.d/expose_php.ini:/usr/local/etc/php/conf.d/expose_php.ini
    networks:
      - app-network

  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin/phpmyadmin
    restart: always
    logging:
      driver:
        ${LOCAL_PHPMYADMIN_LOG_DRIVER:-local}
    ports:
      - 8080:80
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: secret
    networks:
      - app-network

  composer:
    restart: 'no'
    image: composer/composer:latest
    env_file: .env
    command: >
      /bin/bash -c '
      composer config -g http-basic.my.yoast.com token ${COMPOSER_YOAST_TOKEN};
      composer install;
      '
    profiles:
      - tools
    volumes:
      - ~/.ssh:/root/.ssh
      - ~/.gitconfig:/root/.gitconfig
      - ./wordpress:/app

  install:
    depends_on:
      - db
      - wordpress
    image: wordpress:cli-php8.1
    profiles:
      - tools
    env_file: .env
    command: >
      /bin/bash -c '
      /wait-for-it.sh db:3306;
      cd /usr/src/wordpress;
      wp core multisite-install --url="localhost" --title="CDS Wordpress Base" --admin_user=${ADMIN_USER} --admin_password=${ADMIN_PASSWORD} --admin_email=${ADMIN_EMAIL};
      wp option update permalink_structure "/%postname%/";
      wp theme enable cds-default --activate --network;
      wp theme disable twentytwentyone --network;
      wp plugin activate sitepress-multilingual-cms cds-base two-factor login-lockdown --network;
      wp plugin activate s3-uploads wps-hide-login disable-user-login --network;
      wp plugin activate wordpress-seo wordpress-seo-premium wpml-string-translation wp-seo-multilingual --network;
      wp plugin activate jwt-authentication-for-wp-rest-api --network;
      wp plugin activate delete-orphaned-multisite-tables --network;
      '
    volumes:
      - wordpress:/usr/src/wordpress
      - ./wordpress/vendor:/usr/src/wordpress/vendor
      - ./wordpress/wp-content:/usr/src/wordpress/wp-content
      - ./wordpress/wp-config.php:/usr/src/wordpress/wp-config.php
      - ./wait-for-it.sh:/wait-for-it.sh
    networks:
      - app-network

  cli:
    container_name: cli
    working_dir: /home/default/project
    build: 
      context: .
      dockerfile: .devcontainer/Dockerfile
    env_file: .env
    volumes:
      - wordpress:/usr/src/wordpress
      - ./wordpress/vendor:/usr/src/wordpress/vendor
      - ./wordpress/wp-content:/usr/src/wordpress/wp-content
      - ./wordpress/wp-config.php:/usr/src/wordpress/wp-config.php
      - ./:/home/default/project
      - ~/.ssh:/home/default/.ssh
      - ~/.gitconfig:/home/default/.gitconfig
      - ./wordpress/docker/php/conf.d/memory_limit.ini:/usr/local/etc/php/conf.d/memory_limit.ini
    restart: unless-stopped
    networks:
      - app-network

volumes:
  wordpress:
  dbdata:

networks:
  app-network:
    driver: bridge