[
  {
    "portMappings": [
      {
        "hostPort": 443,
        "containerPort": 443,
        "protocol": "tcp"
      }
    ],
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "${AWS_LOGS_GROUP}",
        "awslogs-region": "${AWS_LOGS_REGION}",
        "awslogs-stream-prefix": "${AWS_LOGS_STREAM_PREFIX}"
      }
    },
    "volumesFrom": [],
    "essential": true,
    "name": "wordpress",
    "image": "${WORDPRESS_IMAGE}",
    "mountPoints": [
      %{ if ENABLE_EFS }
      {
        "containerPath": "/var/www/html/wp-content",
        "sourceVolume": "wp-content",
        "readOnly": false
      }
      %{ endif }
    ],
    "environment": [
      {
        "name": "DEFAULT_DOMAIN",
        "value": "${DEFAULT_DOMAIN}"
      },
      {
        "name": "WORDPRESS_CONFIG_EXTRA",
        "value": "${WORDPRESS_CONFIG_EXTRA}"
      }
    ],
    "secrets": [
      {
        "name": "LIST_MANAGER_ENDPOINT",
        "valueFrom": "${LIST_MANAGER_ENDPOINT}"
      },
      {
        "name": "ENCRYPTION_KEY",
        "valueFrom": "${ENCRYPTION_KEY}"
      },
      {
        "name": "WORDPRESS_DB_HOST",
        "valueFrom": "${WORDPRESS_DB_HOST}"
      },
      {
        "name": "WORDPRESS_DB_USER",
        "valueFrom": "${WORDPRESS_DB_USER}"
      },
      {
        "name": "WORDPRESS_DB_PASSWORD",
        "valueFrom": "${WORDPRESS_DB_PASSWORD}"
      },
      {
        "name": "WORDPRESS_DB_NAME",
        "valueFrom": "${WORDPRESS_DB_NAME}"
      },
      {
        "name": "WORDPRESS_AUTH_KEY",
        "valueFrom": "${WORDPRESS_AUTH_KEY}"
      },
      {
        "name": "WORDPRESS_SECURE_AUTH_KEY",
        "valueFrom": "${WORDPRESS_SECURE_AUTH_KEY}"
      },
      {
        "name": "WORDPRESS_LOGGED_IN_KEY",
        "valueFrom": "${WORDPRESS_LOGGED_IN_KEY}"
      },
      {
        "name": "WORDPRESS_NONCE_KEY",
        "valueFrom": "${WORDPRESS_NONCE_KEY}"
      },
      {
        "name": "WORDPRESS_AUTH_SALT",
        "valueFrom": "${WORDPRESS_AUTH_SALT}"
      },
      {
        "name": "WORDPRESS_SECURE_AUTH_SALT",
        "valueFrom": "${WORDPRESS_SECURE_AUTH_SALT}"
      },
      {
        "name": "WORDPRESS_LOGGED_IN_SALT",
        "valueFrom": "${WORDPRESS_LOGGED_IN_SALT}"
      },
      {
        "name": "WORDPRESS_NONCE_SALT",
        "valueFrom": "${WORDPRESS_NONCE_SALT}"
      }
    ]
  }
]