[
  {
     "name": "apache",
     "image": "${APACHE_IMAGE}",
     "essential": true,
     "logConfiguration": {
        "logDriver": "awslogs",
        "options": {
          "awslogs-group": "${AWS_LOGS_GROUP}",
          "awslogs-region": "${AWS_LOGS_REGION}",
          "awslogs-stream-prefix": "${AWS_LOGS_STREAM_PREFIX}"
        }
      },
     "portMappings": [
       {
         "hostPort": 443,
         "containerPort": 443,
         "protocol": "tcp"
       }
     ],
     "volumesFrom": [
        {
          "sourceContainer": "wordpress",
          "readOnly": true
        }
     ]
  },
  {
    "name" : "wordpress",
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-group": "${AWS_LOGS_GROUP}",
        "awslogs-region": "${AWS_LOGS_REGION}",
        "awslogs-stream-prefix": "${AWS_LOGS_STREAM_PREFIX}"
      }
    },
    "portMappings": [
      {
        "hostPort": 9000,
        "containerPort": 9000,
        "protocol": "tcp"
      }
    ],
    "essential": true,
    "image": "${WORDPRESS_IMAGE}",
    "environment": [
      {
        "name": "DEFAULT_DOMAIN",
        "value": "${DEFAULT_DOMAIN}"
      },
      {
        "name": "S3_UPLOADS_BUCKET_URL",
        "value": "${S3_UPLOADS_BUCKET_URL}"
      },
      {
        "name": "WORDPRESS_CONFIG_EXTRA",
        "value": "${WORDPRESS_CONFIG_EXTRA}"
      },
      {
        "name": "C3_DISTRIBUTION_ID",
        "value": "${C3_DISTRIBUTION_ID}"
      }
    ],
    "secrets": [
      {
        "name": "LIST_MANAGER_ENDPOINT",
        "valueFrom": "${LIST_MANAGER_ENDPOINT}"
      },
      {
        "name": "DEFAULT_LIST_MANAGER_API_KEY",
        "valueFrom": "${DEFAULT_LIST_MANAGER_API_KEY}"
      },
      {
        "name": "DEFAULT_NOTIFY_API_KEY",
        "valueFrom": "${DEFAULT_NOTIFY_API_KEY}"
      },
      {
        "name": "ENCRYPTION_KEY",
        "valueFrom": "${ENCRYPTION_KEY}"
      },
      {
        "name": "S3_UPLOADS_BUCKET",
        "valueFrom": "${S3_UPLOADS_BUCKET}"
      },
      {
        "name": "S3_UPLOADS_KEY",
        "valueFrom": "${S3_UPLOADS_KEY}"
      },
      {
        "name": "S3_UPLOADS_SECRET",
        "valueFrom": "${S3_UPLOADS_SECRET}"
      },
      {
        "name": "C3_AWS_ACCESS_KEY_ID",
        "valueFrom": "${C3_AWS_ACCESS_KEY_ID}"
      },
      {
        "name": "C3_AWS_SECRET_ACCESS_KEY",
        "valueFrom": "${C3_AWS_SECRET_ACCESS_KEY}"
      },
      {
        "name": "JWT_AUTH_SECRET_KEY",
        "valueFrom": "${JWT_AUTH_SECRET_KEY}"
      }.
      {
        "name": "WORDPRESS_DB_HOST",
        "valueFrom": "${WORDPRESS_DB_HOST}"
      },
      {
        "name": "WORDPRESS_DB_USER",
        "valueFrom": "${WORDPRESS_DB_USER}"
      },
      {
        "name": "WORDPRESS_DB_PASSWORD",
        "valueFrom": "${WORDPRESS_DB_PASSWORD}"
      },
      {
        "name": "WORDPRESS_DB_NAME",
        "valueFrom": "${WORDPRESS_DB_NAME}"
      },
      {
        "name": "WORDPRESS_AUTH_KEY",
        "valueFrom": "${WORDPRESS_AUTH_KEY}"
      },
      {
        "name": "WORDPRESS_SECURE_AUTH_KEY",
        "valueFrom": "${WORDPRESS_SECURE_AUTH_KEY}"
      },
      {
        "name": "WORDPRESS_LOGGED_IN_KEY",
        "valueFrom": "${WORDPRESS_LOGGED_IN_KEY}"
      },
      {
        "name": "WORDPRESS_NONCE_KEY",
        "valueFrom": "${WORDPRESS_NONCE_KEY}"
      },
      {
        "name": "WORDPRESS_AUTH_SALT",
        "valueFrom": "${WORDPRESS_AUTH_SALT}"
      },
      {
        "name": "WORDPRESS_SECURE_AUTH_SALT",
        "valueFrom": "${WORDPRESS_SECURE_AUTH_SALT}"
      },
      {
        "name": "WORDPRESS_LOGGED_IN_SALT",
        "valueFrom": "${WORDPRESS_LOGGED_IN_SALT}"
      },
      {
        "name": "WORDPRESS_NONCE_SALT",
        "valueFrom": "${WORDPRESS_NONCE_SALT}"
      }
    ]
  }
]