/* https://yoksel.github.io/url-encoder */

.alert {
  background: #ccc;
  border-left: 5px solid #ccc;
}

.alert div {
  padding-left: 45px;
}

.alert h3 {
  margin: 0;
  padding-top: 10px;
}

.alert p {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Alert Types */

.alert-info {
  background: #d7faff;
  border-left-color: #269abc;
}

.alert-warning {
  background: #f9f4d4;
  border-left-color: #f90;
}

.alert-success {
  background: #d8eeca;
  border-left-color: #278400;
}

.alert-danger {
  position: relative;
  background: #f3e9e8;
  border-left-color: #d3080c;
}

.alert-danger::before {
  position: absolute;
  top: 10px;
  left: 10px;
  content: "";
  width: 30px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='20' viewBox='0 0 90 80' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M44.7959 0.505108C44.1537 0.54012 43.5305 0.735012 42.9828 1.07212C42.4351 1.40922 41.9802 1.87786 41.6596 2.43543L21.079 38.0722L0.51686 73.709C0.178302 74.2957 4.90528e-05 74.9612 1.01228e-08 75.6387C-4.90326e-05 76.3161 0.178104 76.9816 0.516577 77.5684C0.85505 78.1552 1.34193 78.6426 1.92831 78.9816C2.5147 79.3207 3.17995 79.4994 3.85727 79.5H45H86.1427C86.8201 79.4994 87.4853 79.3207 88.0717 78.9816C88.6581 78.6426 89.145 78.1552 89.4834 77.5684C89.8219 76.9816 90.0001 76.3161 90 75.6387C90 74.9612 89.8217 74.2957 89.4831 73.709L68.9211 38.0722L48.3404 2.43543C47.9852 1.81794 47.466 1.31077 46.8404 0.970088C46.2149 0.629402 45.5072 0.468478 44.7959 0.505108V0.505108ZM45 12.0871L62.2217 41.9329L79.4619 71.7787H45H10.5381L27.7783 41.9329L45 12.0871Z' fill='black'/%3E%3Cpath d='M45.7604 55.6418H44.566C44.4394 53.5786 44.0232 51.081 43.3175 48.1491L41.906 42.2309C41.0555 38.6837 40.6303 36.1409 40.6303 34.6025C40.6303 33.209 41.0465 32.0869 41.8789 31.2362C42.7113 30.3856 43.797 29.9603 45.1361 29.9603C46.4389 29.9603 47.5201 30.3902 48.3797 31.2498C49.2392 32.1095 49.6689 33.1999 49.669 34.5211C49.6689 35.8966 49.2166 38.4665 48.3118 42.2309L46.8732 48.1491C46.3665 50.2485 45.9956 52.7461 45.7604 55.6418V55.6418ZM45.1903 59.5239C46.4027 59.5239 47.4387 59.9537 48.2982 60.8134C49.1577 61.6731 49.5875 62.7182 49.5875 63.9489C49.5875 65.1615 49.1577 66.1976 48.2982 67.0573C47.4387 67.917 46.4027 68.3468 45.1903 68.3468C43.978 68.3468 42.942 67.917 42.0825 67.0573C41.2229 66.1976 40.7932 65.1615 40.7932 63.9489C40.7932 62.7363 41.2184 61.6957 42.0689 60.827C42.9194 59.9582 43.9599 59.5239 45.1903 59.5239V59.5239Z' fill='black'/%3E%3C/svg%3E");
}

.alert-success::before {
  position: absolute;
  top: 10px;
  left: 10px;
  content: "";
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 32 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M23.21 10.79C23.3037 10.883 23.3781 10.9936 23.4289 11.1154C23.4797 11.2373 23.5058 11.368 23.5058 11.5C23.5058 11.632 23.4797 11.7627 23.4289 11.8846C23.3781 12.0064 23.3037 12.117 23.21 12.21L14.21 21.21C14.1166 21.3027 14.0057 21.376 13.8839 21.4258C13.7621 21.4755 13.6316 21.5008 13.5 21.5H13.44C13.3001 21.4907 13.1636 21.4521 13.0396 21.3866C12.9155 21.3211 12.8067 21.2303 12.72 21.12L8.72 16.12C8.62495 16.0193 8.55185 15.9 8.50532 15.7695C8.4588 15.6391 8.43988 15.5004 8.44974 15.3623C8.45961 15.2242 8.49806 15.0896 8.56264 14.9671C8.62723 14.8447 8.71656 14.7369 8.82496 14.6508C8.93336 14.5646 9.05847 14.5019 9.19237 14.4666C9.32628 14.4313 9.46605 14.4242 9.60284 14.4458C9.73962 14.4673 9.87044 14.517 9.98701 14.5918C10.1036 14.6665 10.2033 14.7647 10.28 14.88L13.58 19L21.79 10.79C21.883 10.6963 21.9936 10.6219 22.1154 10.5711C22.2373 10.5203 22.368 10.4942 22.5 10.4942C22.632 10.4942 22.7627 10.5203 22.8846 10.5711C23.0064 10.6219 23.117 10.6963 23.21 10.79ZM30 16C30 18.7689 29.1789 21.4757 27.6406 23.778C26.1022 26.0803 23.9157 27.8747 21.3576 28.9343C18.7994 29.9939 15.9845 30.2712 13.2687 29.731C10.553 29.1908 8.05844 27.8574 6.10051 25.8995C4.14257 23.9416 2.8092 21.447 2.26901 18.7313C1.72881 16.0155 2.00606 13.2006 3.06569 10.6424C4.12531 8.08427 5.91973 5.89777 8.22202 4.35943C10.5243 2.82109 13.2311 2 16 2C19.713 2 23.274 3.475 25.8995 6.1005C28.525 8.72601 30 12.287 30 16ZM28 16C28 13.6266 27.2962 11.3065 25.9776 9.33316C24.6591 7.35977 22.7849 5.8217 20.5922 4.91345C18.3995 4.00519 15.9867 3.76755 13.6589 4.23058C11.3311 4.6936 9.19295 5.83649 7.51472 7.51472C5.83649 9.19295 4.6936 11.3311 4.23058 13.6589C3.76755 15.9867 4.00519 18.3995 4.91345 20.5922C5.8217 22.7849 7.35977 24.6591 9.33316 25.9776C11.3065 27.2962 13.6266 28 16 28C19.1826 28 22.2348 26.7357 24.4853 24.4853C26.7357 22.2348 28 19.1826 28 16Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='32' height='40' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.alert-info::before {
  position: absolute;
  top: 10px;
  left: 15px;
  content: "";
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='22' viewBox='0 0 70 71' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M70 35.9C70 55.2 54.3 70.9 35 70.9C15.7 70.9 0 55.2 0 35.9C0 16.6 15.7 0.900002 35 0.900002C54.3 0.900002 70 16.6 70 35.9ZM64 35.9C64 19.9 51 6.9 35 6.9C19 6.9 6 19.9 6 35.9C6 51.9 19 64.9 35 64.9C51 65 64 51.9 64 35.9Z' fill='black'/%3E%3Cpath d='M35 30.8C33.3 30.8 32 32.1 32 33.8V49.1C32 50.8 33.3 52.1 35 52.1C36.7 52.1 38 50.8 38 49.1V33.8C38 32.1 36.7 30.8 35 30.8Z' fill='black'/%3E%3Cpath d='M35 19.8C34.2 19.8 33.4 20.1 32.9 20.7C32.3 21.2 32 22 32 22.8C32 23 32 23.2 32.1 23.4C32.1 23.6 32.2 23.8 32.3 24C32.4 24.2 32.5 24.3 32.6 24.5C32.7 24.7 32.8 24.8 33 25C34.1 26.1 36.1 26.1 37.2 25C37.3 24.9 37.5 24.7 37.6 24.5C37.7 24.3 37.8 24.2 37.9 24C38 23.8 38 23.6 38.1 23.4C38.1 23.2 38.2 23 38.2 22.8C38.2 22 37.9 21.2 37.3 20.7C36.6 20.1 35.8 19.8 35 19.8Z' fill='black'/%3E%3C/svg%3E%0A");
}

.alert-warning::before {
  position: absolute;
  top: 10px;
  left: 15px;
  content: "";
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 0C5.8 0 0 5.8 0 13C0 20.2 5.8 26 13 26C20.2 26 26 20.2 26 13C26 5.8 20.2 0 13 0ZM13 24C6.9 24 2 19.1 2 13C2 6.9 6.9 2 13 2C19.1 2 24 6.9 24 13C24 19.1 19.1 24 13 24Z' fill='black'/%3E%3Cpath d='M12.5 17.5C12.6 17.6 12.8 17.7 13 17.7C13.2 17.7 13.3 17.6 13.5 17.5C13.6 17.4 13.7 17.2 13.7 16.9L14.4 4.5C14.4 4.1 14.3 3.7 14.1 3.5C13.8 3.3 13.5 3.1 13.1 3.1C12.7 3.1 12.3 3.2 12.1 3.5C11.8 3.7 11.7 4.1 11.8 4.5L12.3 17C12.3 17.2 12.4 17.4 12.5 17.5Z' fill='black'/%3E%3Cpath d='M13 19.7C12.6 19.7 12.2 19.8 11.9 20.1C11.6 20.4 11.5 20.8 11.5 21.2C11.5 21.7 11.6 22 11.9 22.3C12.2 22.6 12.6 22.7 13 22.7C13.4 22.7 13.8 22.6 14.1 22.3C14.4 22 14.5 21.6 14.5 21.2C14.5 20.7 14.4 20.4 14.1 20.1C13.8 19.8 13.4 19.7 13 19.7Z' fill='black'/%3E%3C/svg%3E%0A");
}
