/* Spacing */

main, .gc-form-wrapper, .focus-group, .entry-footer, article {
    margin-bottom: 20px;
}

/* Headings */
.homepage h2 {
    font-size: 1.2em;
}

body h6, body .h6 {
    font-size: 19px;
}

/* Lists */

body ul:not(".components-panel__header ul"), body .ul, body ol, body .ol {
    list-style-type: revert;
    padding-left: 21px;
}

body ul > ul, body .ul > .ul, body ol > ol, body .ol > .ol {
    padding-left: 21px;
}

/* Tables */

body:not(.wp-admin) table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 23px;
}

body:not(.wp-admin) table thead tr th {
    border-top: 0;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 5px;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
    line-height: 1.4375;
}

body:not(.wp-admin) table tbody tr td {
    border: 1px solid #ddd;
    padding: 5px;
    line-height: 1.4375;
    vertical-align: top;
}

/* Link button (for blog pagination) */

.pager .next > a,
.pager .next > a:visited,
.pager .previous > a,
.pager .previous > a:visited {
    color: #335075;
    background-color: #eaebed;
    border-color: #dcdee1;
    border-style: outset;
}

.pager .next > a:hover, .pager .previous > a:hover {
    background-color: #cfd1d5;
    border-color: #bbbfc5
}

.pager .next > a:active, .pager .previous > a:active {
    background-color: #bbbfc5;
    border-color: #989da6;
}