name: Build and push Apache sidecar container

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/build_push_apache_container.yml"
      - "wordpress/docker/apache/**"

env:
  AWS_REGION: ca-central-1
  DOCKER_BUILDKIT: 1
  REPO_NAME: platform/apache
  STAGING_ECR_REGISTRY: 729164266357.dkr.ecr.ca-central-1.amazonaws.com
  PRODUCTION_ECR_REGISTRY: 472286471787.dkr.ecr.ca-central-1.amazonaws.com

permissions:
  id-token: write
  contents: read

jobs:
  build-push-staging-container:
    runs-on: ubuntu-latest
    steps:
      - name: Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
    
      - name: Setup docker buildx buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::729164266357:role/gc-articles-apply
          role-session-name: ECRPush
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1

      - name: Docker image tag
        run: |
          VERSION=$(cat wordpress/docker/apache/VERSION | xargs)
          echo "IMAGE_TAG=v$VERSION" >> $GITHUB_ENV

      - name: Build container
        run: |
          docker buildx build \
          --push \
          --platform linux/arm64,linux/amd64 \
          --build-arg git_sha="$GITHUB_SHA" \
          --build-arg APACHE_KEY="${{ secrets.STAGING_WORDPRESS_APACHE_KEY }}" \
          --build-arg APACHE_CERT="${{ secrets.STAGING_WORDPRESS_APACHE_CERT }}" \
          -t "${{ env.STAGING_ECR_REGISTRY }}/${{ env.REPO_NAME }}:${{ env.IMAGE_TAG }}" \
          -f ./wordpress/docker/apache/Dockerfile .

      - name: Push containers to ECR
        run: |
          docker push ${{ env.STAGING_ECR_REGISTRY }}/${{ env.REPO_NAME }}:${{ env.IMAGE_TAG }}

      - name: Logout of ECR
        if: always()
        run: docker logout ${{ steps.login-ecr.outputs.registry }}

  build-push-production-container:
    runs-on: ubuntu-latest
    steps:
      - name: Setup QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
    
      - name: Setup docker buildx buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::472286471787:role/gc-articles-apply
          role-session-name: ECRPush
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1

      - name: Docker image tag
        run: |
          VERSION=$(cat wordpress/docker/apache/VERSION | xargs)
          echo "IMAGE_TAG=v$VERSION" >> $GITHUB_ENV

      - name: Build container
        run: |
          docker buildx build \
          --push \
          --platform linux/arm64,linux/amd64 \
          --build-arg git_sha="$GITHUB_SHA" \
          --build-arg APACHE_KEY="${{ secrets.PRODUCTION_WORDPRESS_APACHE_KEY }}" \
          --build-arg APACHE_CERT="${{ secrets.PRODUCTION_WORDPRESS_APACHE_CERT }}" \
          -t "${{ env.PRODUCTION_ECR_REGISTRY }}/${{ env.REPO_NAME }}:${{ env.IMAGE_TAG }}" \
          -f ./wordpress/docker/apache/Dockerfile .

      - name: Push containers to ECR
        run: |
          docker push ${{ env.PRODUCTION_ECR_REGISTRY }}/${{ env.REPO_NAME }}:${{ env.IMAGE_TAG }}

      - name: Docker generate SBOM
        uses: cds-snc/security-tools/.github/actions/generate-sbom@34794baf2af592913bb5b51d8df4f8d0acc49b6f # v3.2.0
        env:
          TRIVY_DB_REPOSITORY: ${{ vars.TRIVY_DB_REPOSITORY }}
        with:
          docker_image: "${{ env.PRODUCTION_ECR_REGISTRY }}/${{ env.REPO_NAME }}:${{ env.IMAGE_TAG }}"
          dockerfile_path: "wordpress/docker/apache/Dockerfile"
          sbom_name: "apache"
          token: "${{ secrets.GITHUB_TOKEN }}"
          platform: "linux/arm64"

      - name: Logout of ECR
        if: always()
        run: docker logout ${{ steps.login-ecr.outputs.registry }}
