name: CI

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/ci.yml"
      - "wordpress/**"
  pull_request:
    paths:
      - ".github/workflows/ci.yml"
      - "wordpress/**"

jobs:
  cypress-tests:
    runs-on: ubuntu-latest
    name: Cypress
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0
      - run: cd wordpress && composer install --prefer-dist --no-progress --no-suggest
      - run: npm install
      - run: npm run wp-env:init
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          record: true
        env:
          # pass the Dashboard record key as an environment variable
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          # pass GitHub token to allow accurately detecting a build vs a re-run build
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Github token to allow access to the private Composer dependency repo
          COMPOSER_AUTH: '{"github-oauth": {"github.com": "${{secrets.COMPOSER_AUTH}}"} }'
  php-tests:
    runs-on: ubuntu-latest
    name: PHP Pest tests
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0
      - run: cd wordpress && composer install --prefer-dist --no-progress --no-suggest
      - run: cd wordpress && ./vendor/bin/pest
        env:
          COMPOSER_AUTH: '{"github-oauth": {"github.com": "${{secrets.COMPOSER_AUTH}}"} }'
  phpcs:
    runs-on: ubuntu-latest
    name: Code quality
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0
          tools: phpcs, cs2pr
      - name: Run PHP Code Sniffer
        run: phpcs wordpress -n --standard=PSR12 --ignore=vendor,tests,*.css,*.js
