name: CI

on:
  pull_request:
    branches: [main]

env:
  WPML_USER_ID: ${{ secrets.WPML_USER_ID }}
  WPML_KEY: ${{ secrets.WPML_KEY }}

jobs:
  php-tests:
    runs-on: ubuntu-latest
    name: PHP Pest tests
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0

      - name: Add Composer auth credentials
        run: |
          cd wordpress
          composer config github-oauth.github.com ${{ secrets.COMPOSER_GITHUB_TOKEN }}
          composer config http-basic.my.yoast.com token ${{ secrets.COMPOSER_YOAST_TOKEN }}

      - run: cd wordpress && composer install --prefer-dist --no-progress --no-suggest
      - run: cd wordpress && ./vendor/bin/pest

  new-tests:
    runs-on: ubuntu-latest
    name: WP PHPUnit Tests
    env:
      DB_DATABASE: wordpress_test
      DB_USER: root
      DB_PASSWORD: root
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.1

      - name: Set up MySQL
        run: |
          sudo /etc/init.d/mysql start

      - name: Setup test environment
        run: |
          export PATH="$HOME/.composer/vendor/bin:$PATH"
          cd wordpress/wp-content/plugins/gc-lists
          bash bin/install-wp-tests.sh wordpress_test root 'root' localhost $WP_VERSION
          composer install
          ./vendor/bin/phpunit
  phpcs:
    runs-on: ubuntu-latest
    name: Code quality
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: shivammathur/setup-php@v2
        with:
          php-version: 8.0
          tools: phpcs, cs2pr
      - name: Run PHP Code Sniffer
        run: phpcs wordpress -n --standard=PSR12 --ignore=vendor,tests,*.css,*.js
