name: Docker vulnerability scan

on:
  workflow_dispatch:
  schedule:
    - cron: "0 4 * * *"

env:
  AWS_REGION: ca-central-1
  ECR_REGISTRY: 729164266357.dkr.ecr.ca-central-1.amazonaws.com

permissions:
  id-token: write
  contents: write
  security-events: write

jobs:
  docker-vulnerability-scan:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: platform/apache
            path: wordpress/docker/apache/Dockerfile

          - image: platform/wordpress
            path: wordpress/docker/Dockerfile

    steps:
      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
        with:
          role-to-assume: arn:aws:iam::729164266357:role/gc-articles-plan
          role-session-name: ECRPull
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1

      - name: Get latest Docker image tag
        run: |
          IMAGE_TAG="$(aws ecr describe-images --output json --repository-name ${{ matrix.image }} --query 'reverse(sort_by(imageDetails, &imagePushedAt))' | jq -r '[.[] | select(has("imageTags"))][0].imageTags[0]')"
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV

      - name: Docker vulnerability scan Wordpress
        uses: cds-snc/security-tools/.github/actions/docker-scan@e91688994f2ee19c5cf3dca7193dffe4bb52ae17 # v4.0.0
        env:
          TRIVY_DB_REPOSITORY: ${{ vars.TRIVY_DB_REPOSITORY }}
        with:
          docker_image: "${{ env.ECR_REGISTRY }}/${{ matrix.image }}:${{ env.IMAGE_TAG }}"
          dockerfile_path: "${{ matrix.path }}"
          platform: "linux/arm64"
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Logout of Amazon ECR
        run: docker logout ${{ steps.login-ecr.outputs.registry }}
