name: "Environments version manifest"

# Gets the following content from the `environments.yml` manifest:
# 1. [ENV]_WORDPRESS: the target version for the Terraform plan and apply on Staging.
# 2. PREV_[ENV]_WORDPRESS: the previously deployed Terraform version.

on:
  workflow_call:
    outputs:
      STAG_WORDPRESS:
        description: "The current version of the Staging Wordpress container"
        value: ${{ jobs.environments-manifest.outputs.STAG_WORDPRESS }}
      PREV_STAG_WORDPRESS:
        description: "The previous version of the Staging Wordpress container"
        value: ${{ jobs.environments-manifest.outputs.PREV_STAG_WORDPRESS }}
      PROD_WORDPRESS:
        description: "The current version of the Production Wordpress container"
        value: ${{ jobs.environments-manifest.outputs.PROD_WORDPRESS }}
      PREV_PROD_WORDPRESS:
        description: "The previous version of the Production Wordpress container"
        value: ${{ jobs.environments-manifest.outputs.PREV_PROD_WORDPRESS }}
      CONTAINER_DEPLOYMENT:
        description: "(production|staging|false) flag to indicate if we're dealing with a container deployment"
        value: ${{ jobs.environments-manifest.outputs.CONTAINER_DEPLOYMENT }}

jobs:
  environments-manifest:
    runs-on: ubuntu-latest
    outputs:
      PROD_WORDPRESS: ${{ steps.versions.outputs.PROD_WORDPRESS }}
      STAG_WORDPRESS: ${{ steps.versions.outputs.STAG_WORDPRESS }}
      PREV_PROD_WORDPRESS: ${{ steps.previous.outputs.PROD_WORDPRESS }}
      PREV_STAG_WORDPRESS: ${{ steps.previous.outputs.STAG_WORDPRESS }}
      CONTAINER_DEPLOYMENT: ${{ steps.environment.outputs.CONTAINER_DEPLOYMENT }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Versions
        id: versions
        run: |
          PROD_WORDPRESS=v$(yq '.production.wordpress' < ./infrastructure/environments.yml)
          STAG_WORDPRESS=v$(yq '.staging.wordpress' < ./infrastructure/environments.yml)
          echo "$(cat ./infrastructure/environments.yml)"
          echo "::set-output name=PROD_WORDPRESS::${PROD_WORDPRESS}"
          echo "::set-output name=STAG_WORDPRESS::${STAG_WORDPRESS}"

      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: main
          fetch-depth: 0

      - name: Previous versions
        id: previous
        run: |
          echo "Current branch: ${{ github.ref_name }}"
          if [ ${{ github.ref_name }} == 'main' ]; then
            PREV_SHA="$(git show -2 --pretty=format:"%h" --no-patch infrastructure/environments.yml | tail -n 1)"
            PREV_ENVIRONMENTS_YML="$(git show ${PREV_SHA}:infrastructure/environments.yml)"
          else
            PREV_ENVIRONMENTS_YML="$(git show main:infrastructure/environments.yml)"
          fi
          echo "$PREV_ENVIRONMENTS_YML"
          PROD_WORDPRESS=v$(echo "$PREV_ENVIRONMENTS_YML" | yq '.production.wordpress' -)
          STAG_WORDPRESS=v$(echo "$PREV_ENVIRONMENTS_YML" | yq '.staging.wordpress' -)
          echo "::set-output name=PROD_WORDPRESS::${PROD_WORDPRESS}"
          echo "::set-output name=STAG_WORDPRESS::${STAG_WORDPRESS}"

      - name: Deploy environment
        id: environment
        run: |
          if [ ${{ steps.previous.outputs.PROD_WORDPRESS }} != ${{ steps.versions.outputs.PROD_WORDPRESS }} ]; then
            echo "CONTAINER_DEPLOYMENT=production"
            echo "::set-output name=CONTAINER_DEPLOYMENT::production"
          elif [ ${{ steps.previous.outputs.STAG_WORDPRESS }} != ${{ steps.versions.outputs.STAG_WORDPRESS }} ]; then
            echo "CONTAINER_DEPLOYMENT=staging"
            echo "::set-output name=CONTAINER_DEPLOYMENT::staging"
          else
            echo "CONTAINER_DEPLOYMENT=false"
            echo "::set-output name=CONTAINER_DEPLOYMENT::false"
          fi
