name: Shellcheck
on:
  push:
    paths:
      - "**/*.sh"

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Shellcheck
      run: |
        .github/workflows/scripts/run-shellcheck.sh



